/* AAYUSHI SHARMA */
body {
    font-family: Arial;
    background-color: #f4f4f4;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    margin: 0;
}
.header {
    position: absolute;   
    top: 20px;           
    left: 20px;           
    text-align: left;
}


.container {
    width: 600px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    text-align: center; 
}

button {
    padding: 8px 12px;
    margin: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}

input {
    padding: 8px;
    width: 250px;
    text-align: center; 
}

.box {
    margin-top: 15px;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    min-height: 50px;
    background-color: #fafafa;
    text-align: center;
}